/*
Theme Name: Talbott Theme
Theme URI: http://foxfuelcreative.com
Description: A custom responsive theme based on the Foundation framework. Includes multiple page templates, two different sidebars and a theme options panel.
Version: 3.3.1
Author: Foxfuel Creative
Author URI: http://foxfuelcreative.com
Tags: black, white, one-column, two-columns, flexible-width, custom-background, custom-colors, custom-menu, full-width-template, theme-options
License: GNU General Public License v2.0 & Apache License 2.0
License URI: http://www.gnu.org/licenses/gpl-2.0.html http://www.apache.org/licenses/LICENSE-2.0
*/

/*   HEADS UP: Everything that you will normally find here can be found in the library/scss/*.scss    */

p.frn_footer a {
    color: gray;
    margin-top: 10px;
}



/* 
  Responsive iframes CSS -- Benefits SoberGuy Podcast players mostly
  Requires two transparent images (one for audio, and one for video) to get the height/width ratio.
  Search content in admin by CSS name below to find posts with iframe embedded.
*/
.frn_iframe_wrap {
    width: 89%;
    height: auto;
    background: #CCC;
    margin-left: 11%;
}
.frn_iframe_block {position:relative; height: 90px; margin: 15px 0 40px 0;}
.frn_iframe_block .ratio {display:block;width:100%;height:auto; position: relative; }
.frn_iframe_block iframe {position:absolute;top:0;left:0;width:100%; height:100%; z-index: 1000;}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  .frn_iframe_wrap {
      width: 79%;
      height: auto;
      background: #CCC;
      margin-left: 21%;}
}
@media only screen and (max-device-width:767px){
  .frn_iframe_wrap {width:100%;height:auto;margin:0 auto;background:#CCC;}
}

#mainSubNavRow img {
	max-width: 85%;
}

